aniso8601==7.0.0
botocore==1.13.24
docutils==0.15.2
graphene==2.1.8
graphene-pynamodb==2.1.0
graphql-core==2.2.1
graphql-relay==2.0.0
jmespath==0.9.4
lambda-warmer-py==0.5.1
numpy==1.17.4
pandas==0.25.3
promise==2.1
pynamodb==4.0.0
python-dateutil==2.8.0
pytz==2019.3
Rx==1.6.1
singledispatch==3.4.0.3
six==1.13.0
typing==3.7.4.1
urllib3==1.25.7
wrapt==1.11.2
