#principal{
	width: 70%;
	height: auto; overflow: hidden;
	border: 0px solid #000;
	margin: auto;

}

.contenedor{
	width: 70%;
	margin: auto;
}

	.contenedor p{
		margin-bottom: 40px;
	}


header nav{
	background: #3498db;
}

	header nav ul{
		list-style: none;
		overflow: hidden;
		display: flex;
	}

		header nav ul li{
			display: block;
			flex-grow: 1;
			border-right: 1px solid #fff;
		}

			header nav ul li a{
				display: block;
				padding: 20px;
				color: #fff;
				text-decoration: none;
			}

			header nav ul li a:hover{
				background: #2980b9;
			}

#btn-menu {
	display: none;
}
#btn-menu2 {
	display: none;
}

header label{
	display: none;
	width: 35px;
	height: 35px;
	border-right: 1px solid #fff;
}

header label:hover {
	cursor: pointer;
	background: rgb(0, 0, 0,.3);
}
			
.men-fixed{
	height: 50px;
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	width: 100%;
	box-shadow: 0px 4px 3px rgba(0,0,0,.5);
}

.men-fixed ul li a{
	padding: 15px 20px;
}

.logo{
	width: 70%;
	height: 100px;
	border: 0px solid #000;
	margin: auto;
}

#logo2{
	background:#F5F7F7;
	height: 100px;
}

.ventana{
	background:  #1d5b9e;
	width: 50%;
	height: 50%;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	font-size: 18px;
	padding: 33px;
	min-width: 250px;
	border-radius: 22px;
	position: fixed;
	left: 30%;
	top: 30%;
	display: none;
	margin: auto;
}

#cerrar{
	position: absolute;
	right: 3px;
	top: 1px;
}

.ventana2{
	background:  #1d5b9e;
	width: 50%;
	height: 50%;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	font-size: 18px;
	padding: 33px;
	min-width: 250px;
	border-radius: 22px;
	position: fixed;
	left: 30%;
	top: 30%;
	display: none;
	margin: auto;
}

#cerrar2{
	position: absolute;
	right: 3px;
	top: 1px;
}


.titulo{
	margin-top: 25px;
	font-size: 35px;
	font-weight: bold;
	text-align:center;
}

.sub-titulo{
	font-size: 28px;
}

.menu{
	width: 460px;
	height: 40px;
	border: 1px solid #ccc;
	float: right;
	margin-top: 40px;
	background: #006699;
}

#categorias{
	width: 100%;
	height: auto; overflow: hidden;
	border: 0px solid;
	margin-top: 15px;
}

#categorias2{
	width: 100%;
	height: auto; overflow: hidden;
	border: 0px solid;
	margin-top: 15px;
	background:#F5F7F7;
}

.uno{
	width: 48.5%;
	float: left;
	padding: 5px;
	text-align: center;
	margin-left: 1em;
}

.dos{
	width: 100%;
	text-align: center;
}

.parrafo{
	color: #707070;
	text-align: justify;
	height: 80px;
}

.parrafo2{
	color: #707070;
	text-align: justify;
	height: 124px;
}

footer{
	width: 900px;
	height: 100px;
	text-align: center;
}

#footer p{
	width: 500px;
}
h2{
	color: #4682b4;
}
/*Resoluciones menores de 640 píxeles de ancho.*/
@media (max-width:640px) {
	#principal{
		width: 100%;
		height: auto; overflow: hidden;
		border: 0px solid #000;
		margin: auto;
	}
	.contenedor{
		width: 100%;
		margin: auto;
	}
	#logo{
		display: none;
	}
	.icon{
		width: 100%;
		background: #3498db;
		margin-right: solid 1px #fff;
	}
	.men{
		width: 75%;
		position: fixed;
		margin-left: -75%;
		transition: all 0.7s;
		font-size: 12px;
	}
	.men ul {
		flex-direction: column;
	}
	.men li {
		border-top: 1px solid #fff;
	}
	#btn-menu:checked ~ .men {
		margin: 0; 
	}
	#btn-menu2:checked ~ .men {
		margin: 0; 
	}
	header label{
		display: block;
	}
	.titulo{
		font-size: 15px;
		font-weight: bold;
	}
	.sub-titulo{
		font-size: 12px;
		font-weight: bold;
	}
	
	.logo{
		width: 100%;
		height: 10%;
	}
	.parrafo{
		color: #707070;
		text-align: justify;
		height: 5%;
		font-size: 10px;
		height: 130px;
	}
	.parrafo2{
		color: #707070;
		text-align: justify;
		height: 220px;
		font-size: 10px;
	}
	.uno{
		width: 45%;
		float: left;
		padding: 2px;
		text-align: center;
		margin-left: 1em;
	}
	.ventana{
		background:  #1d5b9e;
		width: 80%;
		height: 80%;
		color: white;
		font-family: Arial, Helvetica, sans-serif;
		text-align: center;
		font-size: 12px;
		padding: 33px;
		min-width: 250px;
		border-radius: 22px;
		position: fixed;
		left: 10%;
		top: 10%;
		display: none;
		margin: auto;
	}
	.ventana2{
		background:  #1d5b9e;
		width: 80%;
		height: 80%;
		color: white;
		font-family: Arial, Helvetica, sans-serif;
		text-align: center;
		font-size: 12px;
		padding: 33px;
		min-width: 250px;
		border-radius: 22px;
		position: fixed;
		left: 10%;
		top: 10%;
		display: none;
		margin: auto;
	}
	.ventana h3{
		font-size: 20px;
	}
	.ventana2 h3{
		font-size: 20px;
	}
	.form-group{
		font-size: 10px;
	}
	.form-control{
		font-size: 10px;
	}
	.dos{
		width: 70%;
		text-align: right;
	}
	.men-fixed{
		height: 35px;
		background: #3498db;
		position: fixed;
		z-index: 1000;
		top: 0;
		left: 0;
		width: 100%;
		box-shadow: 0px 4px 3px rgba(0,0,0,.5);
	}
	
	.men-fixed ul li a{
		padding: 15px 20px;
	}
	
}
/*Resoluciones menores de 1024 píxeles de ancho pero mayores que 640 píxeles.*/
@media (max-width:1024px) and (min-width:640px) {
	#principal{
		width: 80%;
		height: auto; overflow: hidden;
		border: 0px solid #000;
		margin: auto;
	}
	.contenedor{
		width: 80%;
		margin: auto;
	}
	header nav{
		background: #3498db;
		font-size: 15px;
	}
	.men-fixed{
		height: 60px;
		background: #3498db;
		position: fixed;
		z-index: 1000;
		top: 0;
		left: 0;
		width: 100%;
		box-shadow: 0px 4px 3px rgba(0,0,0,.5);
	}
	
	.men-fixed ul li a{
		padding: 15px 20px;
	}
	.titulo{
		font-size: 18px;
		font-weight: bold;
	}
	.sub-titulo{
		font-size: 13px;
		font-weight: bold;
	}
	.logo{
		width: 80%;
		height: 10%;
	}
	.parrafo{
		color: #707070;
		text-align: justify;
		font-size: 10px;
		height: 95px;
	}
	.parrafo2{
		color: #707070;
		text-align: justify;
		height: 155px;
		font-size: 10px;
	}
	.uno{
		width: 46%;
		float: left;
		padding: 2px;
		text-align: center;
		margin-left: 1em;
	}
	#logo2{
		display: flex;
		justify-content: center;
		align-items: center;
		height: 80px;
	}
	.ventana{
		background:  #1d5b9e;
		width: 60%;
		height: 60%;
		color: white;
		font-family: Arial, Helvetica, sans-serif;
		text-align: center;
		font-size: 12.7px;
		padding: 33px;
		min-width: 250px;
		border-radius: 22px;
		position: fixed;
		left: 20%;
		top: 20%;
		display: none;
		margin: auto;
	}
	.ventana2{
		background:  #1d5b9e;
		width: 60%;
		height: 60%;
		color: white;
		font-family: Arial, Helvetica, sans-serif;
		text-align: center;
		font-size: 12.7px;
		padding: 33px;
		min-width: 250px;
		border-radius: 22px;
		position: fixed;
		left: 20%;
		top: 20%;
		display: none;
		margin: auto;
	}
	.ventana h3{
		font-size: 18px;
	}
	.ventana2 h3{
		font-size: 18px;
	}
	.form-group{
		font-size: 13px;
	}
	.form-control{
		font-size: 13px;
	}
	.dos{
		width: 70%;
		text-align: right;
	}
}
/*Resoluciones mayores de 1024 píxeles.*/
@media (min-width:1024px) {
	.titulo{
		font-size: 25px;
		font-weight: bold;
	}
	.sub-titulo{
		font-size: 20px;
		font-weight: bold;
	}
	.parrafo{
		color: #707070;
		text-align: justify;
		font-size: 16px;
		height: 145px;
	}
	.parrafo2{
		color: #707070;
		text-align: justify;
		height: 240px;
		font-size: 16px;
	}
	.uno{
		width: 47%;
		float: left;
		padding: 2px;
		text-align: center;
		margin-left: 1em;
	}
	.ventana{
		background:  #1d5b9e;
		width: 60%;
		height: 60%;
		color: white;
		font-family: Arial, Helvetica, sans-serif;
		text-align: center;
		font-size: 18px;
		padding: 33px;
		min-width: 250px;
		border-radius: 22px;
		position: fixed;
		left: 25%;
		top: 25%;
		display: none;
		margin: auto;
	}
	.ventana2{
		background:  #1d5b9e;
		width: 60%;
		height: 60%;
		color: white;
		font-family: Arial, Helvetica, sans-serif;
		text-align: center;
		font-size: 18px;
		padding: 33px;
		min-width: 250px;
		border-radius: 22px;
		position: fixed;
		left: 25%;
		top: 25%;
		display: none;
		margin: auto;
	}
}